<div class="connect-us-container">

  <div class='external-links-container'>
    <app-external-link-button
      *ngFor="let link of externalLinks"
      [externalUrl]="link.externalUrl"
      [imageUrl]="link.imageUrl"
      [size]="'100px'">
    </app-external-link-button>
  </div>
  
  <div class='text-container'>
    <pre>
      我們是 Mécarun台灣總代理，關心環境且不忘聰明用車的用戶所組成的團體。
  
      各種機械用油，汽油或柴油引擎的積碳，
      油泥不再是使用 Mécarun 系列產品後，需要煩惱的問題。
  
      許多公路、海上交通與航空業的愛好者和專業人士，
      對我們產品進行測試並獲得他們的高度認可。
  
      15多年來，燃油能源效率的經濟性和發動機壽命的完美保護一直是我們對客戶的承諾。
  
      在 Mécarun，您加入了一個由關心環境且不忘聰明用車的用戶所組成的團體。 
  
      汽油或柴油引擎的積碳，油泥不再是使用 Mécarun系列產品後，需要煩惱的問題。
  
      消耗更少的燃油在經濟上是明智的，除此之外，它還能同時保護引擎的壽命。
      
      在台灣的聯絡電話是：0958143155
      
      EMAIL：jiadan@mecarun.com
      
      歡迎和我們聯絡，也歡迎加入我們成為銷售站點！
    </pre>
  
    <img src="assets/images/FBQR.png">
    <img src="assets/images/LINEQR.png">
  </div>
</div>