@use '/src/app/_styles/global';

.external-links-container {
  display: flex;
  justify-content: center;
  margin: 32px;
  gap: 64px;
}

.text-container {
  margin: 32px 128px;
  border-left: 3px solid global.$theme-color-dark;
  font-size: 24px;

  img {
    height: 256px;
    width: 256px;
    margin-left: 64px;
  }
}