@use '/src/app/_styles/global';

.product-management-container{
  width: 100%;
  height: 100%;
  position: relative;

  mat-list {
    mat-list-item {
      width: 100%;
      background-color: global.$backgroud-color-light;
      border-radius: 4px;
      margin-bottom: 8px;
    }
  }
  
  .mat-fab {
    position: absolute;
    right: -28px;
    bottom: 28px;
    background-color: global.$theme-color-dark-light;
  }

}

::ng-deep .language-menu {
  background-color: global.$backgroud-color-light;

  .active-language-button {
    background-color: global.$backgroud-color;
    border-bottom: 1px solid global.$theme-color-dark-light;
  }
}