@use '/src/app/_styles/global';

:host {
  display: flex;
  justify-content: center;

  .main-container {
    min-height: 100vh;
    width: 1187px;
    background-color: global.$backgroud-color-light;

    .main-container-header{
      position: fixed;
      top: 0px;

      .main-menu{
        height: 64px;
        background-color: global.$theme-color-dark;
  
        .menu-button {
          height: 100%;
          width: 128px;
          padding: 0;
          margin: 0 8px;
          border-radius: 0;
          color: white;
          font-size: 24px;
          font-weight: 500;
        }
  
        .activate-menu-button {
          border-bottom: 3px solid global.$theme-color-red;
        }
      }
    }


    .main-container-body {
      width: 100%;
      padding-top: 16px;
      margin-top: 303px;
    }
  }
}