<div [formGroup]="productFormGroup" class="product-editor-container">

  <div class="title-bar">
    <h1>{{'ADMIN.PRODUCT_EDITOR.TITLE' | translate}}</h1>
    <span class="spacer"></span>
    <button mat-stroked-button (click)="cancel()">{{'CANCEL_BUTTON' | translate}}</button>
    <button mat-stroked-button (click)="submit()">{{'SVAE_BUTTON' | translate}}</button>
  </div>

  <mat-form-field appearance="outline">
    <mat-label>{{'ADMIN.PRODUCT_EDITOR.INPUT_LABEL.LANGUAGE' | translate}}</mat-label>
    <mat-select formControlName="language">
      <mat-option *ngFor="let language of languages" [value]="language.code">
        {{language.display}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>{{'ADMIN.PRODUCT_EDITOR.INPUT_LABEL.NAME' | translate}}</mat-label>
    <input matInput formControlName="name">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>{{'ADMIN.PRODUCT_EDITOR.INPUT_LABEL.PRICE' | translate}}</mat-label>
    <input matInput formControlName="price">
  </mat-form-field>

  <h4>{{'ADMIN.PRODUCT_EDITOR.INPUT_LABEL.SHORT_DESCRIPTION' | translate}}</h4>
  <quill-editor
    class="quill-editor"
    [placeholder]="'ADMIN.PRODUCT_EDITOR.INPUT_LABEL.SHORT_DESCRIPTION' | translate"
    formControlName="shortDescription"
    [modules]="quillEditorModols">
  </quill-editor>
  <mat-error *ngIf="productFormGroup.get('shortDescription')?.hasError('required')">
    {{'ADMIN.PRODUCT_EDITOR.ERROR_MESSAGE.SHORT_DESCRIPTION' | translate}}
  </mat-error>

  <h4>{{'ADMIN.PRODUCT_EDITOR.INPUT_LABEL.DESCRIPTION' | translate}}</h4>
  <quill-editor
    class="quill-editor"
    [placeholder]="'ADMIN.PRODUCT_EDITOR.INPUT_LABEL.DESCRIPTION' | translate"
    formControlName="description"
    [modules]="quillEditorModols">
  </quill-editor>
  <mat-error *ngIf="productFormGroup.get('description')?.hasError('required')">
    {{'ADMIN.PRODUCT_EDITOR.ERROR_MESSAGE.DESCRIPTION' | translate}}
  </mat-error>

  <div class="field-title-bar">
    <h4>{{'ADMIN.PRODUCT_EDITOR.INPUT_LABEL.EXTERNAL_LINKS' | translate}}</h4>
    <button mat-icon-button (click)="addExternalLink()"><mat-icon>add</mat-icon></button>
  </div>
  <div formArrayName="externalLinks">
    <div *ngFor="let control of getExternalLinksControls(); let groupName=index;" [formGroupName]="groupName" class="external-link-row">

      <mat-form-field appearance="outline" class="site-form-field">
        <mat-label>{{'ADMIN.PRODUCT_EDITOR.INPUT_LABEL.SITE' | translate}}</mat-label>
        <mat-select formControlName="site">
          <mat-option *ngFor="let externalLinkSite of externalLinkSites" [value]="externalLinkSite.SITE">
            {{externalLinkSite.SITE}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>{{'ADMIN.PRODUCT_EDITOR.INPUT_LABEL.EXTERNAL_LINKS' | translate}}</mat-label>
        <input matInput formControlName="externalUrl">
      </mat-form-field>

      <button mat-icon-button (click)="removeExternalLink(groupName)"><mat-icon>delete</mat-icon></button>

    </div>
  </div>

  <div class="field-title-bar">
    <h4>{{'ADMIN.PRODUCT_EDITOR.INPUT_LABEL.THUMBNAIL_URL' | translate}}</h4>
    <button mat-icon-button (click)="thumbnailInput.click()"><mat-icon>upload</mat-icon></button>
  </div>
  <input type="file" class="file-upload-input" #thumbnailInput (change)="onFileChange($event, 'thumbnailUuid')">
  <img #thumbnail>
  <mat-error *ngIf="productFormGroup.get('thumbnailUuid')?.hasError('required')">
    {{'ADMIN.PRODUCT_EDITOR.ERROR_MESSAGE.THUMBNAIL_URL' | translate}}
  </mat-error>

  <div class="field-title-bar">
    <h4>{{'ADMIN.PRODUCT_EDITOR.INPUT_LABEL.IMAGE_URL' | translate}}</h4>
    <button mat-icon-button (click)="imageInput.click()"><mat-icon>upload</mat-icon></button>
  </div>
  <input type="file" class="file-upload-input" #imageInput (change)="onFileChange($event, 'productImageUuid')">
  <img #image>
  <mat-error *ngIf="productFormGroup.get('productImageUuid')?.hasError('required')">
    {{'ADMIN.PRODUCT_EDITOR.ERROR_MESSAGE.IMAGE_URL' | translate}}
  </mat-error>
  
</div>