<div [formGroup]="productFormGroup" class="product-editor-container">

  <div class="title-bar">
    <h1>{{'ADMIN.PRODUCT_EDITOR.TITLE' | translate}}</h1>
    <span class="spacer"></span>
    <button mat-stroked-button (click)="cancel()">{{'CANCEL_BUTTON' | translate}}</button>
    <button mat-stroked-button (click)="submit()">{{'SVAE_BUTTON' | translate}}</button>
  </div>

  <mat-form-field appearance="fill">
    <mat-label>{{'ADMIN.PRODUCT_EDITOR.INPUT_LABEL.NAME' | translate}}</mat-label>
    <input matInput formControlName="name">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>{{'ADMIN.PRODUCT_EDITOR.INPUT_LABEL.LANGUAGE' | translate}}</mat-label>
    <mat-select formControlName="language">
      <mat-option *ngFor="let language of languages" [value]="language.code">
        {{language.display}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>{{'ADMIN.PRODUCT_EDITOR.INPUT_LABEL.PRICE' | translate}}</mat-label>
    <input matInput formControlName="price">
  </mat-form-field>

  <h4>{{'ADMIN.PRODUCT_EDITOR.INPUT_LABEL.SHORT_DESCRIPTION' | translate}}</h4>
  <quill-editor
    class="quill-editor"
    [placeholder]="'ADMIN.PRODUCT_EDITOR.INPUT_LABEL.SHORT_DESCRIPTION' | translate"
    formControlName="shortDescription"
    [modules]="quillEditorModols">
  </quill-editor>

  <h4>{{'ADMIN.PRODUCT_EDITOR.INPUT_LABEL.DESCRIPTION' | translate}}</h4>
  <quill-editor
    class="quill-editor"
    [placeholder]="'ADMIN.PRODUCT_EDITOR.INPUT_LABEL.DESCRIPTION' | translate"
    formControlName="description"
    [modules]="quillEditorModols">
  </quill-editor>

  <div class="field-title-bar">
    <h4>{{'ADMIN.PRODUCT_EDITOR.INPUT_LABEL.THUMBNAIL_URL' | translate}}</h4>
    <button mat-icon-button (click)="thumbnailInput.click()"><mat-icon>upload</mat-icon></button>
  </div>
  <input type="file" class="file-upload-input" #thumbnailInput (change)="onFileChange($event, 'thumbnail')">
  <img #thumbnail class="thumbnail">

  <div class="field-title-bar">
    <h4>{{'ADMIN.PRODUCT_EDITOR.INPUT_LABEL.IMAGE_URL' | translate}}</h4>
    <button mat-icon-button (click)="imageInput.click()"><mat-icon>upload</mat-icon></button>
  </div>
  <input type="file" class="file-upload-input" #imageInput (change)="onFileChange($event, 'image')">
  <img #image class="image">
  
</div>