@use '/src/app/_styles/global';

.product-container {
  display: flex;
  flex-direction: column;
  height: 100%;

  .product-header {
    width: calc(100% - 64px);
    margin: 0 32px;
    height: 80px;
    display: flex;
    align-items: center;

    .product-title {
      font-size: 48px;
      font-weight: 700;
    }

    .product-price {
      font-size: 24px;
      font-weight: 700;
    }
  }

  .product-info-container {
    width: 100%;
    display: flex;
    flex: 1 1 1px;

    .product-left-container {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      width: 384px;
      height: 100%;

      img {
        max-width: 352px;
        max-height: 352px;
      }
    }
  
    .product-right-container {
      margin: 16px;
      flex: 1 1 1px;
    }
  }

}