:host {
  position: relative;

  iframe {
    width: 100%;
    height: calc(100% - 8px);
    border-width: 0;
  }
  
  button {
    position: absolute;
    top: -32px;
    right: 16px;
    z-index: 10;
    background-color: green;
    color: white;
  }
}